.h2 {
    font-weight: bold;
    font-size: calc(var(--font-size) + 1rem);
    margin: {
        top: calc(var(--font-size) / 2 + 0.5rem);
        bottom: calc(var(--font-size) / 2 + 0.5rem);
    }
    transition: {
        property: font-size, margin-top, margin-bottom;
        duration: 0.25s;
        timing-function: ease-in-out;
    }
}

.note {
    display: flex;
    align-items: center;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-left: {
        width: 0.75rem;
        style: solid;
    }
    margin: {
        top: calc(var(--font-size) / 2);
        bottom: calc(var(--font-size) / 2);
    }
    transition: {
        property:
            margin-top, margin-bottom, border-left-color, color,
            background-color;
        duration: 0.25s;
        timing-function: ease-in-out;
    }
    &.info {
        color: var(--color-info-content);
        background-color: var(--color-info);
        border-left-color: var(--color-info-content);
    }
    &.warn {
        color: var(--color-warning-content);
        background-color: var(--color-warning);
        border-left-color: var(--color-warning-content);
    }
    &.error {
        color: var(--color-error-content);
        background-color: var(--color-error);
        border-left-color: var(--color-error-content);
    }
    .icon {
        flex: none;
        font-size: calc(var(--font-size) * 3);
        padding: {
            left: var(--font-size);
            right: var(--font-size);
        }
        transition: {
            property: padding-left, padding-right, font-size;
            duration: 0.25s;
            timing-function: ease-in-out;
        }
    }
    > div {
        flex: auto;
        overflow: hidden;
        padding-right: calc(var(--font-size) * 2);
        margin: {
            top: calc(var(--font-size) / 2 + 0.5rem);
            bottom: calc(var(--font-size) / 2 + 0.5rem);
        }
        transition: {
            property: margin-top, margin-bottom, padding-right;
            duration: 0.25s;
            timing-function: ease-in-out;
        }
        > * {
            margin: unset;
        }
    }
}
