@use "@/assets/scss/variables.scss" as v;

.left {
    height: 100%;
    display: flex;
    > button {
        pointer-events: all;
        cursor: pointer;
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        position: relative;
        display: block;
        overflow: hidden;
        height: 100%;
        background-color: var(--color-primary);
        margin-right: calc(var(--font-size) / 2);
        transition: {
            property: background-color, margin-right;
            duration: var(--duration-fast);
            timing-function: ease-in-out;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            width: 4px;
            box-shadow: 0 0 0.25rem 1px white;
            background-color: white;
            filter: blur(1px);
            transform: skewX(-30deg) translateX(calc(var(--header-height) / -2));
            left: 0;
            top: 0;
        }
        &:hover {
            background-color: rgb(
                from var(--color-primary) calc(r - 50) calc(g - 50) calc(b - 50)
            );
            &::after {
                transform: skewX(-30deg)
                    translateX(calc(var(--header-height) * 1.5));
                transition: {
                    property: transform;
                    duration: var(--duration-normal);
                    timing-function: linear;
                }
            }
        }
    }
    > div {
        height: 100%;
        @media screen and (max-width: v.$screen-4xl) {
            display: none;
        }
        > div {
            height: 50%;
            display: flex;
            align-items: center;
            > * {
                pointer-events: all;
            }
        }
    }
}

.mbleft {
    display: none;
    @media screen and (max-width: v.$screen-4xl) {
        display: block;
    }
}

.right {
    height: 100%;
    justify-self: flex-end;
}
