$screen-3xs: 16rem;
$screen-2xs: 18rem;
$screen-xs: 20rem;
$screen-sm: 24rem;
$screen-md: 28rem;
$screen-lg: 32rem;
$screen-xl: 36rem;
$screen-2xl: 42rem;
$screen-3xl: 48rem;
$screen-4xl: 56rem;
$screen-5xl: 64rem;
$screen-6xl: 72rem;
$screen-7xl: 80rem;

$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$text-5xl: 3rem;
$text-6xl: 3.75rem;
$text-7xl: 4.5rem;
$text-8xl: 6rem;
$text-9xl: 8rem;
