.profile {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 40rem;
    max-width: calc(100% - 0.5rem);
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    box-sizing: border-box;
    padding-bottom: 0.25rem;
    height: calc(100% - var(--header-height));
    transition: {
        property: height;
        duration: var(--duration-fast);
        timing-function: ease-in-out;
    }
    animation: {
        name: fade;
        duration: var(--duration-fast);
        timing-function: ease-in-out;
        iteration-count: 1;
    }
    @keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 100;
        }
    }
    > .card {
        width: 100%;
        overflow: auto;
        flex-shrink: 1;
        flex-grow: 0;
        > .avatar {
            left: 0;
            right: 0;
            aspect-ratio: 1 /1;
            height: calc(var(--font-size) * 7);
            background-color: var(--color-primary);
            margin: {
                left: auto;
                right: auto;
            }
            border: {
                radius: 50%;
                color: var(--color-primary);
                width: 4px;
                style: solid;
            }
            transition: {
                property: height, background-color, border-color;
                duration: var(--duration-fast);
                timing-function: ease-in-out;
            }
        }
        > h1 {
            font-weight: bold;
            text-align: center;
            font-size: calc(var(--font-size) + 0.75rem);
            transition: {
                property: font-size;
                duration: var(--duration-fast);
                timing-function: ease-in-out;
            }
        }
        > q {
            display: block;
            text-align: center;
            color: rgb(
                from var(--color-base-content) calc(r - 75) calc(g - 75)
                    calc(b - 75)
            );
            transition: {
                property: color;
                duration: var(--duration-fast);
                timing-function: ease-in-out;
            }
            @media (prefers-color-scheme: light) {
                color: rgb(
                    from var(--color-base-content) calc(r + 75) calc(g + 75)
                        calc(b + 75)
                );
            }
        }
        > p {
            text-align: justify;
            margin: {
                top: calc(var(--font-size) / 2);
                bottom: calc(var(--font-size) / 2);
            }
            transition: {
                property: margin-top, margin-bottom;
                duration: var(--duration-fast);
                timing-function: ease-in-out;
            }
        }
        > ul {
            display: flex;
            flex-wrap: wrap;
            gap: calc(var(--font-size) / 2);
            transition: {
                property: gap, font-size;
                duration: var(--duration-fast);
                timing-function: ease-in-out;
            }
            &.icons {
                font-size: calc(var(--font-size) + 0.5rem);
            }
            &.tags {
                justify-content: space-between;
            }
            > li {
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 1;
                > svg {
                    margin-bottom: 2px;
                }
                > span {
                    margin-right: calc(var(--font-size) / 2);
                    transition: {
                        property: margin-right;
                        duration: var(--duration-fast);
                        timing-function: ease-in-out;
                    }
                }
            }
        }
        > .powered {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: var(--font-size);
            transition: {
                property: gap;
                duration: var(--duration-fast);
                timing-function: ease-in-out;
            }
            > span {
                text-align: center;
            }
            > svg {
                font-size: calc(var(--font-size) + 0.5rem);
                transition: {
                    property: font-size;
                    duration: var(--duration-fast);
                    timing-function: ease-in-out;
                }
            }
        }
    }
    > .link {
        border-radius: 100vmax;
        display: block;
        background-color: var(--color-primary);
        color: var(--color-primary-content);
        padding: calc(var(--font-size) / 2) calc(var(--font-size) * 2);
        margin-top: var(--font-size);
        transition: {
            property: background-color, color, padding, margin-top;
            duration: var(--duration-fast);
            timing-function: ease-in-out;
        }
        &:hover {
            background-color: rgb(
                from var(--color-primary) calc(r - 50) calc(g - 50) calc(b - 50)
            );
        }
    }
}
