.path {
    animation: {
        name: fill, stroke;
        delay: 0.5s, 0s;
        duration: 0.5s, 0.5s;
        iteration-count: 1, 1;
        timing-function: linear;
        fill-mode: forwards;
    }
    @keyframes fill {
        0% {
            fill-opacity: 0;
        }

        100% {
            fill-opacity: 1;
        }
    }

    @keyframes stroke {
        0% {
            stroke-dashoffset: -100;
        }

        100% {
            stroke-dashoffset: 0;
        }
    }
}

.gear {
    animation: {
        name: rotate;
        duration: 3s;
        timing-function: linear;
        iteration-count: infinite;
    }
    @keyframes rotate {
        0% {
            transform: translateY(-2.5%) rotateX(-60deg) rotateY(30deg)
                rotateZ(0deg);
        }
        50% {
            transform: translateY(2.5%) rotateX(-60deg) rotateY(30deg)
                rotateZ(180deg);
        }
        100% {
            transform: translateY(-2.5%) rotateX(-60deg) rotateY(30deg)
                rotateZ(360deg);
        }
    }
}

.hammer {
    animation: {
        name: flash;
        duration: 1s;
        timing-function: linear;
        iteration-count: infinite;
    }
    @keyframes flash {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
