.figure {
    margin: {
        left: unset;
        right: unset;
        top: calc(var(--font-size) / 2);
        bottom: calc(var(--font-size) / 2);
    }
    transition: {
        property: text-indent, margin-left, margin-right;
        duration: 0.25s;
        timing-function: ease-in-out;
    }
    > button {
        display: flex;
        justify-content: center;
        width: 100%;
        cursor: zoom-in;
        > .img {
            width: fit-content;
            box-shadow: 0 0 0.25rem 1px var(--color-primary);
            transition: {
                property: box-shadow;
                duration: 0.25s;
                timing-function: ease-in-out;
            }
        }
    }
    > figcaption {
        font-family: "Noto Serif SC Variable";
        font-style: italic;
        text-align: center;
        margin-top: calc(var(--font-size) / 2 - 0.125rem);
        font-size: calc(var(--font-size) - 0.25rem);
    }
}

.mask {
    cursor: zoom-out;
    &.hidden {
        display: none;
    }
    > .img {
        cursor: default;
        position: absolute;
        > img {
            pointer-events: none;
        }
    }
}
