.pre {
    width: 100%;
    position: relative;
    border-radius: 0.25rem;
    line-height: 1.5;
    overflow: hidden;
    box-shadow: 0 0 0.25rem 1px var(--color-primary);
    margin: {
        top: calc(var(--font-size) / 2);
        bottom: calc(var(--font-size) / 2);
    }
    transition: {
        property: margin-left, margin-right, box-shadow;
        duration: var(--duration-fast);
        timing-function: ease-in-out;
    }
    > div {
        width: 100%;
        overflow-x: auto;
        background-color: #313131;
        color: #d4d4d4;
        box-sizing: border-box;
        padding: {
            top: var(--font-size);
            right: var(--font-size);
            bottom: var(--font-size);
            left: calc(var(--font-size) / 2);
        }
        transition: {
            property: padding;
            duration: var(--duration-fast);
            timing-function: ease-in-out;
        }
    }
    &:hover > div > button {
        opacity: 100;
    }
}
