.postcard {
    opacity: 0;
    transform: translateY(12.5%);
    max-width: calc(var(--font-size) * 40);
    transition: {
        property: max-width;
        duration: 0.25s;
        timing-function: ease-in-out;
    }
    animation: {
        name: slide;
        delay: var(--postcard-delay);
        duration: 0.25s;
        iteration-count: 1;
        timing-function: ease-in-out;
        fill-mode: forwards;
    }
    @keyframes slide {
        0% {
            opacity: 0;
            transform: translateY(25%);
        }
        100% {
            opacity: 100;
            transform: translateY(0%);
        }
    }
}
