.card {
    width: min-content;
    height: fit-content;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 0.25rem;
    flex-grow: 1;
    flex-shrink: 0;
    padding: calc(var(--font-size));
    background-color: rgba(from var(--color-base-100) r g b / 0.9);
    color: var(--color-base-content);
    transition: {
        property: padding, background-color, color;
        duration: 0.25s;
        timing-function: ease-in-out;
    }
}
