.p {
    line-height: 1.75;
    text-align: justify;
    text-indent: calc(var(--font-size) * 2);
    margin: {
        top: calc(var(--font-size) / 2);
        bottom: calc(var(--font-size) / 2);
    }
    transition: {
        property: text-indent, margin-left, margin-right;
        duration: var(--duration-fast);
        timing-function: ease-in-out;
    }
}
