.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    backdrop-filter: brightness(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: {
        name: fade;
        duration: var(--duration-fast);
        iteration-count: 1;
        timing-function: ease-in-out;
    }
    @keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 100;
        }
    }
}
