.chess {
    position: fixed;
    width: calc(100% - 0.5rem);
    left: 0.25rem;
    bottom: 0.25rem;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    container-type: size;
    gap: var(--font-size);
    top: var(--header-height);
    transition: {
        property: top, gap;
        duration: var(--duration-fast);
        timing-function: ease-in-out;
    }

    > .game {
        border-radius: 0.25rem;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        display: none;
        height: 100%;
        width: auto;
        position: relative;
        @container (max-aspect-ratio: 1 / 1) {
            height: auto;
            width: 100%;
        }
        &.ready {
            display: block;
        }
        > div {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 1.25%;
            height: 100%;
            width: 10%;
            justify-content: center;
            gap: 2.5%;
            > button {
                cursor: pointer;
                flex: none;
                border-radius: 0.25rem;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 5%;
                font-size: 100%;
                background-color: var(--color-primary);
                color: var(--color-primary-content);
                transition: {
                    property: background-color, color;
                    duration: var(--duration-fast);
                    timing-function: ease-in-out;
                }
                &:hover {
                    background-color: rgb(
                        from var(--color-primary) calc(r - 50) calc(g - 50)
                            calc(b - 50)
                    );
                }
            }
        }
    }
    > .placeholder {
        border-radius: 0.25rem;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        height: 100%;
        width: auto;
        @container (max-aspect-ratio: 1 / 1) {
            height: auto;
            width: 100%;
        }
        &:has(+ .ready) {
            display: none;
        }
    }
}
