.dialog {
    border: unset;
    border-radius: 0.25rem;
    backdrop-filter: blur(16px);
    width: 30rem;
    max-width: calc(100% - 0.5rem);
    box-sizing: border-box;
    background-color: rgba(from var(--color-base-300) r g b / 0.9);
    color: var(--color-base-content);
    transition: {
        property: background-color, color;
        duration: var(--duration-fast);
        timing-function: ease-in-out;
    }
    animation: {
        name: fade;
        duration: var(--duration-fast);
        timing-function: ease-in-out;
        iteration-count: 1;
    }
    @keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 100;
        }
    }
    &::backdrop {
        backdrop-filter: blur(8px);
    }
    h1 {
        line-height: 1.5;
        font-size: calc(var(--font-size) + 0.75rem);
        text-align: center;
        font-weight: bold;
        margin: {
            top: calc(var(--font-size) / 2 + 0.375rem);
            bottom: calc(var(--font-size) / 2 + 0.375rem);
        }
        transition: {
            property: font-size, margin-top, margin-bottom;
            duration: var(--duration-fast);
            timing-function: ease-in-out;
        }
    }
    p {
        line-height: 1.5;
        text-align: justify;
        margin: {
            top: calc(var(--font-size) / 2);
            bottom: calc(var(--font-size) / 2);
        }
        transition: {
            property: margin-top, margin-bottom;
            duration: var(--duration-fast);
            timing-function: ease-in-out;
        }
        > code {
            word-break: break-all;
        }
    }
    > button {
        cursor: pointer;
        display: block;
        width: 100%;
        text-align: center;
        border-radius: 0.25rem;
        box-sizing: border-box;
        margin-top: calc(var(--font-size) * 2);
        background-color: var(--color-primary);
        color: var(--color-primary-content);
        padding: calc(var(--font-size) / 4) calc(var(--font-size) / 2);
        transition: {
            property: background-color, color, margin-top, padding;
            duration: var(--duration-fast);
            timing-function: ease-in-out;
        }
        &:hover {
            background-color: rgb(
                from var(--color-primary) calc(r - 50) calc(g - 50) calc(b - 50)
            );
        }
    }
}
