@use "@/assets/scss/variables.scss" as v;

.waterfall {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: calc(var(--font-size) / 2);
    transition: {
        property: gap;
        duration: var(--duration-fast);
        timing-function: ease-in-out;
    }
}
