.image {
    position: relative;
    border-radius: 0.25rem;
    overflow: hidden;
    > img {
        object-fit: cover;
        display: block;
        width: 100%;
        height: 100%;
        transition: {
            property: opacity;
            duration: var(--duration-fast);
            timing-function: ease-in-out;
        }
        &.hidden {
            opacity: 0;
        }
    }
    .placeholder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &.hidden {
            display: none;
        }
    }
}
